*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to bottom, black, bisque);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    
}

.title{
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 2px black;
}
#firstContainer{
    background-color: white;
    text-align: center;
    border-radius: 20px;
    height: 20vh;
    background-image: url(./img/vintage-card-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: solid;
    
    
}
#secondContainer{
    background-color: white;
    text-align: center;
    border-radius: 20px;
    height: 20vh;
    background-image: url(./img/vintage-card-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: solid;
}
#create{
    border-radius: 15px;
    width: 70px;
    background-color: bisque;
    border: solid 2px;
    font-weight: 400;
}
#cancel{
    border-radius: 15px;
    width: 70px;
    background-color: bisque;
    border: solid 2px;
    font-weight: 400;
}

.tit{
    display: flex;
}

.name{
    background-color: rgba(173, 216, 230, 0.74);
}
input{
    border: solid black;
    border-radius: 15px;
    font-size: 20px;
    background-color: bisque;
    font-weight: 500;
}
select{
    border: solid black;
    border-radius: 15px;
    font-size: 20px;
    background-color: bisque;
    font-weight: 500;
}